h1{
  text-align: center;
}
.swiper-wrapper {
	width: 100%;
	height: 250px;
}
.swiper-slide {
	color: #ffffff;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 250px;
}
.swiper-slide img{
  position: relative;
  top:75px;
  height: 100%;
}



